/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: fit-content;
}

/* VARIABLES */
:root {
  --light-text-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
  --rich-black-fogra-29: #0d1821;
  --rich-black-fogra-32: rgb(14, 20, 26);
  --foreground: #feefdd;
  --background: #184e77;
}

/* HEADER */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  background-color: var(--rich-black-fogra-29);
  border-bottom: 5px solid var(--foreground);
}

nav.header-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  background-color: inherit;
  width: 75%;
}

.header-left {
  background-color: inherit;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  column-gap: 5px;
}

.logo-img {
  border-radius: 50%;
  width: 50px;
}

.logo-img:hover {
  animation: App-logo-spin infinite 5s linear;
}

.header-left > a {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-info {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  color: var(--foreground);
}

p.logo-name {
  font-weight: bold;
  font-size: 20px;
  text-shadow: var(--light-text-shadow);
  transition: all 0.15s;
}

p.logo-name::before {
  content: "ALAN BLANGILLE";
}

p.logo-description::before {
  content: "Desarrollador";
}

p.logo-description {
  font-size: 16px;
  text-shadow: var(--light-text-shadow);
  transition: all 0.15s;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: var(--foreground);
  background-color: var(--rich-black-fogra-29);
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  min-width: fit-content;
  transition: all 0.15s;
}

a.button.active {
  background-color: var(--foreground);
  color: var(--rich-black-fogra-29);
}

#projects-button-text::before {
  content: "Proyectos";
}

#skills-button-text::before {
  content: "Habilidades";
}

#about-button-text::before {
  content: "Sobre Mi";
}

#contact-button-text::before {
  content: "Contacto";
}

/* CONTENT */
main {
  width: 90%;
  margin-left: 5%;
  margin-top: 90px;
  margin-bottom: 20px;
}

.section-title {
  color: var(--foreground);
  font-size: 24px;
  font-weight: bold;
}

.section-text {
  color: var(--foreground);
  font-size: 16px;
  line-height: 2;
}

.section-text-important {
  color: var(--foreground);
  font-size: 20px;
  line-height: 2;
}

#contact,
#about,
#projects,
#skills {
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.box-about,
.box-contact,
.box-projects,
.box-skills {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--rich-black-fogra-29);
  border: 1px solid var(--foreground);
  padding-bottom: 50px;
}

/* HOME VIEW */
#home {
  height: 80vh;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--rich-black-fogra-29);
}

#home-textbox {
  padding: 20px 20px;
  border: 2px solid var(--foreground);
}

.home-nav {
  padding-top: 50px;
  display: flex;
  flex: row;
}

.home-nav a.button {
  border-top: 1px solid var(--foreground);
  border-bottom: 1px solid var(--foreground);
}

.home-nav a.button:hover {
  color: var(--rich-black-fogra-29);
  background-color: var(--foreground);
}

.home-title,
.home-text {
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-shadow: var(--light-text-shadow);
}

.home-title {
  font-size: 48px;
  font-weight: bold;
  color: var(--foreground);
  box-shadow: inset 0 0 0 0 var(--foreground);
}

.home-text {
  font-size: 24px;
  padding-left: 10px;
  color: var(--rich-black-fogra-29);
  box-shadow: inset 300px 0 0 0 var(--foreground);
}

.home-title:hover {
  box-shadow: inset 400px 0 0 0 var(--foreground);
  color: var(--rich-black-fogra-29);
}

.home-text:hover {
  box-shadow: inset 0 0 0 0 var(--foreground);
  color: var(--foreground);
}

.home-img {
  border-radius: 50%;
  width: 250px;
  border: 2px solid var(--foreground);
  background-color: var(--rich-black-fogra-32);
  transition: all 0.3s;
}

/* CONTACT */
.box-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

#contact-info {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-top: 50px;
  text-align: center;
}

#contact-media-grid {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 15px;
  padding-bottom: 30px;
}

.media-link {
  display: flex;
  flex-direction: column;
  max-width: 95px;
  row-gap: 10px;
  align-items: center;
  padding: 10px 10px;
  background-color: var(--rich-black-fogra-32);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 0.15s;
}

.media-link:hover {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.8);
}

.media-link p {
  color: var(--foreground);
  font-size: 12px;
  text-decoration: none;
}

.media-link > a > img {
  width: 75px;
  border-radius: 5px;
}

/* ABOUT */
.box-about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box-about > img {
  width: 20%;
  height: fit-content;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.7);
  border: 2px solid var(--foreground);
}

#about-info {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-top: 50px;
  padding-bottom: 20px;
}

/* SKILLS */

.box-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

#skill-grid {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  padding: 10px 10px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.skill-card {
  background-color: var(--rich-black-fogra-32);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  transition: all 0.15s;
}

.skill-card:hover {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.8);
}

.skill-card > img {
  margin-top: 2px;
  width: 75%;
}

/* PROJECTS */
.box-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.box-projects .section-title {
  margin-top: 50px;
}

.box-slider {
  width: 90%;
  padding-top: 20px;
  height: 100%;
}

.splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splide__slide > .project-description {
  text-align: center;
  color: var(--foreground);
}
.splide__slide > .project-title {
  padding-bottom: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: var(--foreground);
}

.splide__slide__container > img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
}

/* RESPONSIVE RESIZES */
@media screen and (max-width: 1350px) {
  .splide__slide {
    padding-bottom: 15px;
  }
  .splide__slide > .project-description {
    padding-top: 20px;
  }
  .splide__slide > .project-title {
    padding-top: 5px;
  }
  .box-slider {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .skill-card {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 900px) {
  p.logo-name {
    font-size: 16px;
  }
  p.logo-description {
    font-size: 12px;
  }
  #home {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  #projects-button-text::before,
  #skills-button-text::before,
  #about-button-text::before,
  #contact-button-text::before {
    content: "";
  }
  a.button {
    column-gap: 0;
  }
  p.logo-name {
    font-size: 14px;
  }
  p.logo-description {
    font-size: 10px;
  }
  nav.header-right {
    width: 65%;
  }
  .header-left {
    width: 35%;
  }

  .box-about {
    flex-direction: column-reverse;
    row-gap: 10px;
  }
  .box-about > img {
    width: 60%;
    align-self: center;
  }
  #about-info {
    width: 90%;
    margin-left: 10px;
  }
  #about-info .section-text {
    font-size: 14px;
    text-align: justify;
  }
  #contact-media-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .box-about,
  .box-contact,
  .box-projects,
  .box-skills {
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  #home-box {
    margin-top: 25px;
  }

  .home-title {
    font-size: 32px;
  }

  .home-nav {
    flex-direction: column;
    row-gap: 5px;
  }

  .home-nav a.button {
    justify-content: space-around;
  }
  .home-nav a.button span {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  p.logo-description::before {
    content: "";
  }
  p.logo-name::before {
    content: "";
  }
  a.button {
    padding: 5px 10px;
  }
  #contact-media-grid {
    grid-template-columns: 1fr 1fr;
  }
  .skill-card {
    width: 110px;
    height: 110px;
  }
}
