/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --jet: #353535ff;
  --ming: #3c6e71ff;
  --white: #ffffffff;
  --gainsboro: #d9d9d9ff;
  --indigo-dye: #284b63ff;
  --dark-blue: #023e8a;
  --bright-blue: #0077b6;
  --brightred: #c1121f;
  --shadow-light: 0 3px 13px 1px rgb(0 0 0 /9%);
  --shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.gradient-purple {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.show {
  opacity: 1;
  visibility: visible;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

a.link {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: var(--indigo-dye);
  background-color: var(--white);
  border-radius: 0.25rem;
  box-shadow: var(--shadow-light);
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  width: fit-content;
  height: fit-content;
  border: 1px solid transparent;
  transition: all 0.15s;
}

a.icon {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  box-shadow: var(--shadow);
  display: flex;
  width: 40px;
  height: auto;
  border: 1px solid transparent;
  border-radius: 50%;
}

a.icon > img:hover {
  border: 1px solid var(--white);
}

a.icon:active {
  opacity: 0.8;
}

a.icon > img {
  transition: all 0.25s;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.icon-list {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 10px 10px;
  height: fit-content;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  transition: all 0.5s;
}

.header-color {
  background: var(--jet);
  box-shadow: 1px 6px 12px 3px rgb(50 54 57 / 30%),
    -4px 0px 0px 2px rgb(50 54 57 / 15%);
}

.logo {
  width: fit-content;
  font-size: 24px;
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
}

.logo > img {
  margin-right: 10px;
  width: 32px;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  transition: 0.3s;
  letter-spacing: 1px;
}

.menu > li > a {
  color: var(--white);
  font-size: 16px;
  letter-spacing: inherit;
}

.menu > li:hover {
  letter-spacing: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media screen and (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

#home {
  padding-top: 125px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#home-lower-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#home .title {
  color: var(--white);
  font-weight: 600;
  line-height: 1.5;
  font-size: 2.1875rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
}

#home .brief {
  color: var(--white);
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.25rem;
  transition: all 0.15s;
  margin-bottom: 3rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
}

#download-btn {
  margin-top: 32px;
  margin-left: 12px;
}

#download-btn:hover {
  background-color: var(--brightred);
  border: 1px solid var(--white);
  color: var(--white);
}

#home .illustration {
  width: 500px;
  padding: 20px 20px;
  height: 500px;
  align-self: center;
}

@media screen and (max-width: 768px) {
  #home-lower-section {
    flex-direction: column;
  }
  #home .illustration {
    margin-top: 50px;
  }
}

@media screen and (max-width: 512px) {
  #home {
    padding-top: 125px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  #home .illustration {
    width: 100vw;
    height: auto;
  }
}

.section-title {
  font-size: 32px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  height: fit-content;
  padding: 5px 5px;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
}

.section-title.white-font {
  color: var(--white);
}

.section-title.blue-font {
  color: var(--bright-blue);
}

#skills {
  min-height: 100vh;
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: space-around;
}

#skill-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  align-items: center;
}

#skill-box > img {
  width: 500px;
  height: 500px;
}

#skill-box-grid {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
  padding-bottom: 30px;
  padding: 10px 10px;
}

.skill-card {
  box-shadow: var(--shadow);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  transition: all 0.25s;
}

.skill-card:hover {
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  #skill-box {
    flex-direction: column;
  }
  #skill-box-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #skill-box > img {
    width: 100vw;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  #skill-box-grid {
    grid-template-columns: 1fr 1fr;
  }
}

#projects {
  min-height: 100vh;
  padding: 50px 10%;
  display: flex;
  justify-content: center;
}

#about {
  min-height: 100vh;
  padding: 50px 10%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  #skills,
  #projects,
  #about {
    padding: 50px 2%;
  }
}

#contact {
  height: 200px;
  padding: 1em;
  background: var(--jet);
  -moz-box-shadow: 0 -5px 13px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -5px 13px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -5px 13px rgba(0, 0, 0, 0.5);
}
