body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.photo {
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.photo:hover {
  transform: scale(1.03);
}

section {
  height: fit-content;
  width: 100%;
  padding: 1em;
  overflow-x: hidden;
}

#landing {
  height: 100vh;
  overflow-y: hidden;
}

#about {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

#projects {
  padding-top: 16rem;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%);
}

#experience {
  padding-top: 8rem;
}

#footer {
  height: 300px;
}

* {
  scroll-behavior: smooth;
}
